<launch>
  <arg name="input" default="/camera/rgb/image_raw" />
  <arg name="detection_threshold" default="0.5" />
  <arg name="model" default="$(find detectron2_ros)/detectron2/configs/COCO-InstanceSegmentation/mask_rcnn_R_50_FPN_3x.yaml" />
  <arg name="visualization" default="true" />
  <arg name="publish_rate" default="100" />
  <arg name="bag_file" default="/home/zss/EXTEND/dataset/asl_office_floor.bag"/>

  <node pkg="detectron2_ros" type="detectron2_ros.py" name="detectron2_ros" output="screen" >
    <param name="input" value="$(arg input)" />
    <param name="detection_threshold" value="$(arg detection_threshold)" />
    <param name="model" value="$(arg model)" />
    <param name="visualization" value="$(arg visualization)" />
    <param name="publish_rate" value="$(arg publish_rate)" />
  </node>

  <node name="bag" pkg="rosbag" type="play" output="screen" args="--delay 5 -r 1.0 $(arg bag_file)" >
    <remap from="/ps_front/rgb/image_raw" to="/camera/rgb/image_raw" />
    <remap from="/ps_front/rgb/camera_info" to="/camera/rgb/camera_info" />
    <remap from="/ps_front/depth_registered/image_raw" to="/camera/depth/image_raw" />
    <remap from="/ps_front/depth_registered/camera_info" to="/camera/depth/camera_info" />
    <remap from="/ps_table/rgb/image_raw" to="/camera/rgb/image_raw" />
    <remap from="/ps_table/rgb/camera_info" to="/camera/rgb/camera_info" />
    <remap from="/ps_table/depth_registered/image_raw" to="/camera/depth/image_raw" />
    <remap from="/ps_table/depth_registered/camera_info" to="/camera/depth/camera_info" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find detectron2_ros)/rviz/detectron2_ros.rviz" />
</launch>